.page-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.content-container {
  margin-left: 10%;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

*{
  font-family:"Helvetica"
}
