.spacer {
  flex: 1 1 auto;
}

.toolbar-item {
  color: #FEFEFE;
  margin-right: 24px;
}

.toolbar-item:hover {
  color: #DCDCDC;
}

.header {
  background-color: #4CAF50;
  font-family: Helvetica;
  font-size: 24px;
}

a.toolbar-item {
  font-weight: bold;
  text-decoration: none;
}
